aiohttp==3.6.2
asgiref==3.2.10
astroid==2.4.2
async-timeout==3.0.1
attrs==20.1.0
certifi==2020.6.20
chardet==3.0.4
Django==3.1
django-cors-headers==3.3.0
django-environ==0.4.5
django-mysql==3.8.1
djangorestframework==3.11.0
idna==2.10
isort==5.5.2
lazy-object-proxy==1.4.3
mccabe==0.6.1
multidict==4.7.6
mysql-connector-python==8.0.21
mysqlclient==1.4.6
protobuf==3.13.0
pylint==2.6.0
python-dotenv==0.13.0
pytz==2020.1
requests==2.24.0
six==1.15.0
slackclient==2.8.1
sqlparse==0.3.1
toml==0.10.1
urllib3==1.25.10
wrapt==1.12.1
yarl==1.5.1
django-environ==0.4.5
