*.pem
.idea/
*__pycache__
.DS_Store
*.pyc
.venv
venv/
ven.bak/
.vscode
backend-service/bot_server/.idea/
backend-service/bot_server/doc/source/_build/
backend-service/bot_server/doc/source/_static/
backend-service/bot_server/doc/source/_templates/
backend-service/bot_server/doc/build/html/_sources/
backend-service/bot_server/doc/build/html/_static/