.centered {
    height: 100vh;
    width: 100%; 
    position: fixed;
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -ms-flex-align: center;
    -ms-flex-pack: center;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
}

.form-box {
    margin-bottom: 200px;
    padding: 20px;
    box-shadow: 0px 0px 8px 0 rgba(0,0,0,0.2);
}

.container-fluid {
    padding: 0px;
    width: 100%;
}

.row {
    width: 100%;
    padding: 0px;
    margin: 0px;
}

.table-div {
    padding: 20px;
}

.pad-top {
    margin-top: 20px;
}

.card-block {
    padding: 20px;
}

.chart-container {
    width: 100%;
    height: 300px;
}

.custom-pad {
    padding: 0px;
}

.alert-div {
    display: none;
}

.alert-div .spinner-border {
    display: none;
}

.alert-div .alert-text {
    display: none;
}

.file-upload {
    display: none;
}